/* PAG E ESTRUTURA */

body{
    background-color: rgb(75, 64, 52);
    display: flex;
    margin: auto;
        flex-direction: column;
        align-content: auto;
  
}

#page{
    width: 1080px;
    height: 1980px;
    margin: auto;
    display: flex;
        flex-direction: column;
}
.sessao{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5%;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
}

/* ESTILO HEADER */
#header{
    background-color:rgb(105, 90, 75) ;
    width: 0 auto;
    height: 100px;
    display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        gap: 10px;
}
.boxheader1{
    background-color: rgb(154, 120, 89);
    width: 250px;
    height: 50px;
    margin: 0 0 0 20px;
}
.boxheader2{
    background-color: rgb(154, 120, 89);
    width: 500px;
    height: 50px;
    margin: 0 20px 0 0
}


/* ESTILO SESSÃO 1 */
.gruposessao1{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
        flex-direction: column;
        justify-content: space-between;
}
.s1{
    width: 60%;
    height:70%;
}
.gruposessao1a{
    width: 100%;
    height: 40%; 
    display: flex;
        
}

.gruposessao1b{
    width: 100%;
    height: 50%;
    display:flex;
        justify-content: space-between;
}

.boxsessao11{
    background-color:rgb(157, 113, 72);
    width: 100%;
    height: 100%;
    padding: 1%;
}

.boxsessao12{
    background-color: rgb(157, 113, 72);
    width: 45%;
    height: 100%;
}


.boxsessao13{
background-color: rgb(157, 113, 72);
width: 100%;
height: 100%;
}



/* ESTILO SESSÃO 2 */

.gruposessao2{
    width: 100%;
    height: 90%;
    display: flex;
        justify-content: space-around;
}
.boxsessao2{
 background-color:rgb(157, 113, 72);
 width: 30%;
 height: 100%;   

}





/* ESTILO SESSÃO 3 */

.gruposessao3g{
    width: 75%;
    height: 90%;
    display: grid;
    align-items: center;
}

.gruposessao3p{
    width: 25%;
    height: 90%;
    display: grid;
    align-items: center;
}

.boxsessao3{
    background-color: rgb(157, 113, 72);
    width: 100%;
    height: 90%;
}

/* ESTILO SESSÃO 4 */

.gruposessao41{
    width: 100%;
    height: 100%;
    display: flex;
        flex-direction: column;
        justify-content:space-between;

}
.gruposessao42{
    width: 100%;
    height: 100%;
    display: flex;
        flex-direction: column-reverse;

}
.boxsessao41{
    background-color: rgb(157, 113, 72);
    width: 100%;
    height: 25%;

}

.boxsessao42{
    background-color: rgb(157, 113, 72);
    width: 100%;
    height: 100%;
}
