body, header{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
}

body{
    background-color: rgb(36, 36, 36);
}
header{
    background-color: black;
    height: 90px;

    
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.wrapper nav {

    width: 75%;
    height: 35%;
}

h1{
    color: #fff;
    margin: 0;
    font-size: 25px;
}

#logo{
    display: flex;
    align-items: center;
}

#logo h1 spam{
color: #ffcb5c;
padding: 0;
}

.wrapper nav ul{
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;

    justify-content: center;
    
}

.wrapper nav{
    align-items: center;
    display: flex;

}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 30px;
    display: block;
}

header nav ul li a:hover{
        color: #ffffff6c;
        border-bottom: 3px solid #ffcb5c5d ;

}
    

.active{
    border-bottom: 3px solid #ffcb5c ;
    git 

}
#logo a {
    display: flex;
    gap: 10px;
    text-decoration: none;
}