body, header{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body{
    background-color: rgb(36, 36, 36);
}
header{
    background-color: black;
    height: 90px;

    
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.wrapper nav {

    width: 75%;
    height: 35%;
}

h1 .titulo{
    color: #fff;
    margin: 0;
    font-size: 25px;

}

#logo{
    display: flex;
    align-items: center;
}



.wrapper nav ul{
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;

    justify-content: center;
    
}

.wrapper nav{
    align-items: center;
    display: flex;

}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 30px;
    display: block;
}

header nav ul li a:hover{
        color: #ffffff6c;
        border-bottom: 3px solid #ffcb5c5d ;

}
    

.active{
    border-bottom: 3px solid #ffcb5c ;
}
#logo a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color:#FFF;
}
#logo a :hover{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color:#ffffff81;
}
#logo h1 spam{
    color: #ffcb5c;
    padding: 0;
    }
#logo h1 spam :hover{
    color: #ffcb5c81;
    padding: 0;
    }

main {
    color: #fff;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ffcb5c;

}

th, td {
    border: 1px solid #fff;
}   
th {
    background-color: #979797;
}

th :nth-child(even){
    background-color: #747474;
}

th.titulo {
    background-color: #ffcb5c;
}


tr:nth-child(even) {
    background-color: #3e3e3e;
}


   form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
   } 

   fieldset:first-child{
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=password], select, textarea{
    padding: 3px 8px;
    border-radius: 10px;
    background-color: #3a3a3a;
    border: none;
    margin: 5px 0 10px 0;
    color: #FFF;
    font-size: 16px;
}

select{
    width: fit-content;
}

input[type=submit]{
    width: 50%;
    background-color: #F19E39;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #c77d22;
}