.box1{
    background-color: rgb(154, 120, 89);
    width: 15%;
    height: 75%;
    margin: 1%;
}
.box2{
    background-color: rgb(154, 120, 89);
    width: 40%;
    height: 75%;
    margin: 1% 
}



