.gruposessao1{
    width: 100%;
    height: 100%;
    display: flex;
        flex-direction: column;
}

.gruposessao1a{
    width: 100%;
    height: 50%; 
    display: flex;
}

.gruposessao1b{
    width: 100%;
    height: 50%;
    display:flex;
}





.boxsessao11{
    background-color:rgb(157, 113, 72);
    width: 100%;
    height: 100%;
}

.boxsessao12{
    background-color: rgb(157, 113, 72);
    width: 50%;
    height: 100%;
}


.boxsessao13{
background-color: rgb(157, 113, 72);
width: 100%;
height: 100%;
}